a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home-container {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    background-color: forestgreen;
    padding: 50px;
}

.calculator-form {
    border: 2px solid green;
    border-radius: 20px;
    background-color: white;
    padding: 50px;
}

.input{
    margin-bottom: 5px;
}

.caption {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: white;
}

.emphasis {
    color: green;
}

.emphasis2 {
    color: darkorange;
}